body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('epak.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    z-index: -1;
}

h1, h2, h3 {
    color: #6b4226;
}

p {
    font-size: 16px;
}


footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background-color: #f2e6d9;
    border-top: 2px solid #cfa078;
    color: #6b4226;
    font-size: 14px;
}
